.todoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  margin: 1% 0;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  padding: 0.5%;
}

.cursorPointer {
  cursor: pointer;
}

.dateWrapper {
  display: flex;
  flex-direction: row;
  padding: 0.5%;
  border: solid 1px;
}

.overdueContentBgColor {
  background-color: #fbcccc;
}

.completedContentBgColor {
  background-color: #ccffcb;
}

.activeContentBgColor {
  background-color: #f3f3f3;
}

.strikeContent {
  text-decoration: line-through;
}
